  @media(max-width:1000px) {
    .navi li {
      float: left;
    }
    .sideBarToggle {
      display: none;
    }
  }

  ul {
    cursor: pointer;
  }

  .sideBarToggle {
    color: #888888;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
  }
