<div class="form-horizontal ">

  <!-- Form Name -->
  <legend>Neues Todo anlegen</legend>



  <div class="form-group" [class.has-error]="labelBlur && !newTodo.label">
    <label class="col-md-4 control-label" for="textinput">Bezeichnung</label>
    <div class="col-md-5">
      <input type="text" (blur)="labelBlur=true" [(ngModel)]="newTodo.label" placeholder="Was wollen Sie tun?" class="form-control input-md">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label " for="selectbasic ">Fällig bis</label>
    <div class="col-md-5 ">

      <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="dateStr" required></my-date-picker>
    </div>
  </div>


  <div class="form-group" [class.has-error]=" categoryBlur && !newTodo.category">
    <label class="col-md-4 control-label " for="selectbasic ">Kategorie</label>
    <div class="col-md-5 ">

      <select [(ngModel)]="newTodo.category " class="form-control " (blur)="categoryBlur=true ">
                <option *ngFor="let cat of categories " [ngValue]="cat ">{{cat.label}}</option>
              </select>
    </div>
  </div>




  <div class="form-group ">
    <label class="col-md-4 control-label " for="singlebutton "></label>
    <div class="col-md-4 ">
      <button id="singlebutton " (click)="save(newTodo) " class="btn btn-primary ">speichern</button>
    </div>
  </div>

</div>
